---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
	<div class="pb-2 font-bold">
		&copy; {today.getFullYear()} Alex Ishida
	</div>
	<div class="inline opacity-75"></div>
</footer>
<style></style>
